RESTDemo/Resources/EmployeeService.wsdl

<wsdl:definitions name="EmployeeService" targetNamespace="http://xmlns.oracle.com/OSB12cDemo/RESTDemo/EmployeeService" xmlns:tns="http://xmlns.oracle.com/OSB12cDemo/RESTDemo/EmployeeService" xmlns:inp1="http://TargetNamespace.com/EmployeeService_getEmployees_request" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="EmployeeService">
        <plnk:role name="EmployeeServiceProvider" portType="tns:EmployeeService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/EmployeeService_getEmployees_request" schemaLocation="Employee.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/OSB12cDemo/RESTDemo/EmployeeService" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="getEmployeeByKey_params">
                <complexType>
                    <sequence>
                        <element name="employee_id" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="deleteEmployee_params">
                <complexType>
                    <sequence>
                        <element name="employee_id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="getEmployees_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="createEmployee_inputMessage">
        <wsdl:part name="request" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="createEmployee_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="updateEmployee_inputMessage">
        <wsdl:part name="request" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="updateEmployee_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeByKey_inputMessage">
        <wsdl:part name="request" element="tns:getEmployeeByKey_params"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeByKey_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployee_inputMessage">
        <wsdl:part name="request" element="tns:deleteEmployee_params"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployee_outputMessage">
        <wsdl:part name="reply" element="inp1:EmployeeList"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeService_ptt">
        <wsdl:operation name="getEmployees">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:getEmployees_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="createEmployee">
            <wsdl:input message="tns:createEmployee_inputMessage"/>
            <wsdl:output message="tns:createEmployee_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployee">
            <wsdl:input message="tns:updateEmployee_inputMessage"/>
            <wsdl:output message="tns:updateEmployee_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeByKey">
            <wsdl:input message="tns:getEmployeeByKey_inputMessage"/>
            <wsdl:output message="tns:getEmployeeByKey_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="tns:deleteEmployee_inputMessage"/>
            <wsdl:output message="tns:deleteEmployee_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeService_ptt-binding" type="tns:EmployeeService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployees">
            <soap:operation soapAction="getEmployees"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEmployee">
            <soap:operation soapAction="createEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateEmployee">
            <soap:operation soapAction="updateEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeByKey">
            <soap:operation soapAction="getEmployeeByKey"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction="deleteEmployee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>