RESTDemo/Resources/EmployeeBS.wsdl

<wsdl:definitions name="EmployeeBS" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/OSB12cDemo/RESTDemo/EmployeeBS" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/OSB12cDemo/RESTDemo/EmployeeBS" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/EmployeeBS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="EmployeeBS_plt">
    <plt:role name="EmployeeBS_role">
      <plt:portType name="tns:EmployeeBS_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/EmployeeBS" schemaLocation="EmployeeBS_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="EmployeeBSSelect_inputParameters">
        <wsdl:part name="EmployeeBSSelect_inputParameters" element="top:EmployeeBSSelectInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:EmployeesPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="EmployeesCollection_msg">
        <wsdl:part name="EmployeesCollection" element="top:EmployeesCollection"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeBS_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:EmployeesCollection_msg"/>
            <wsdl:output message="tns:EmployeesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:EmployeesCollection_msg"/>
            <wsdl:output message="tns:EmployeesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:EmployeesCollection_msg"/>
            <wsdl:output message="tns:EmployeesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="EmployeeBSSelect">
            <wsdl:input message="tns:EmployeeBSSelect_inputParameters"/>
            <wsdl:output message="tns:EmployeesCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:EmployeesCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>